<div
  class="flex-auto justify-items-center align-middle bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-screen border-solid border-2 border-white">
  <div class="splash flex-start w-2/3 h-2/3 align-middle">
    <img class="h-full align-middle" src="/assets/horror-video-game-animate.svg" />
  </div>
  <div class="startButton m-6 justify-center items-center align-middle">
    <button
      class="p-5 text-lg text-white font-bold font-sans rounded-lg border-solid border-2 border-purple-700"
      routerLink="/dashboard">Get Started</button>
  </div>
</div>
