<div
  class="flex flex-col justify-evenly bg-gradient-to-r align-middle from-indigo-500 via-purple-500 to-pink-500 h-screen border-solid border-2 border-white">

  <div class="align-middle self-center h-2/3">
    <img class="h-full" src="/assets/computer-troubleshooting-animate.svg" />
  </div>
  <div class="flex-col message gap-2 font-thin tracking-wide text-3xl text-white flex self-center">
    <a>Coming Soon !!!</a>
    <button class="flex justify-center  align-middle bg-orange-500 p-2 shadow-black hover:shadow-none shadow-md" routerLink="/home">
      Go back &nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
    </button>
  </div>

</div>
