<div
  class="flex flex-col h-screen w-screen justify-between justify-items-center gap-5 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500  border-solid border-2 border-white">
  <div class="logo flex h-1/5 w-full justify-center  bg-white bg-opacity-20">
    <img src="./assets/logo.svg" class="h-full  lg:h-4/5">
  </div>
  <div class="carousel flex flex-wrap justify-evenly overflow-y-auto h-full w-full">

    <!-- <div class="tile flex text-gray-200 font-sans h-full justity-start md:justify-center flex-col md:flex-row w-full m-2 md:m-0 overflow-y-auto">
      <ng-container *ngFor="let slide of slides;">
        <a *ngIf="!isDisabled(slide)" routerLink="{{slide.route}}" class="self-center">
          <img src="{{slide.src}}" class="slide self-center bg-white p-5 m-1 h-40 rounded-lg hover:opacity-70" />
          <label>Classic Tic-Tac-Toe</label>
        </a>
        <a *ngIf="isDisabled(slide)" class="self-center disabled cursor-not-allowed">
          <img src="{{slide.src}}" class="slide self-center bg-white p-5 m-1 h-40 rounded-lg hover:opacity-70" />
          <label>More games coming soon</label>
        </a>
      </ng-container>
    </div> -->

    <ng-container *ngFor="let slide of slides;">
      <div class="game flex flex-col md:w-1/3 w-1/2">
        <img [routerLink]=" slide.disabled ?  null : slide.route" src="{{slide.src}}"
          class="slide shadow-md shadow-black self-center bg-gray-50 p-5 m-1 md:h-60 h-40 rounded-xl hover:opacity-70" />
        <div class="desc w-5/6 text-center text-gray-50 md:font-normal font-mono font-thin self-center">{{slide.desc}}</div>
      </div>
    </ng-container>

  </div>
  <div class="footer text-center  text-gray-50 h-auto w-full  bg-white bg-opacity-20">
    <a class="" routerLink="/about">
      <span class="hover:text-blue-600 shadow-md underline">About</span>
    </a>
    <span> | 2022 | GamezoneX |</span>
  </div>
</div>
